.StandartBlue{
  background-color:blue;
  color: white;
}
.headlightsGreen{
  background-color:green;
  color: white;
}
.headlightsYellow{
  background-color:yellow;
  color: black;
}
.headlightsRed{
  background-color:red;
  color: white;
}